/* VALORES Y RESET */
html,
body {
    margin: 20px;
    padding: 0;
}

:root {
    --bg: #ffffff;
    --fg: #000000;
    --muted: #444444;
    --link: #0000ee;
    --border: #cccccc;
    --card: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #0b0f14;
        --fg: #e6e6e6;
        --muted: #a0a0a0;
        --link: #8ab4f8;
        --border: #39424b;
        --card: #11161c;
    }
}

html[data-theme="light"] {
    --bg: #ffffff;
    --fg: #000000;
    --muted: #444444;
    --link: #0000ee;
    --border: #cccccc;
    --card: #f5f5f5;
}

html[data-theme="dark"] {
    --bg: #0b0f14;
    --fg: #e6e6e6;
    --muted: #a0a0a0;
    --link: #8ab4f8;
    --visited: #c58af8;
    --border: #39424b;
    --card: #11161c;
}

body {
    background: var(--bg);
    color: var(--fg);
    font-family: "Arial", Arial, Helvetica, sans-serif, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    padding: 8px;
}

a {
    color: var(--link);
    text-decoration: none;
}

code,
pre {
    font-family: "Courier New", Courier, monospace;
    font-size: 0.95em;
}

/* HEADER */
.site-header {
    margin-bottom: 8px;
}

.title-line {
    display: block;
}

.site-title {
    font-size: 22px;
}

.site-title a {
    text-decoration: none;
}

.site-sub {
    color: var(--muted);
}

.main-card {
    border: 1px solid var(--border);
    background: var(--card);
    padding: 8px;
    margin: 8px 0;
}

.main-card h2 {
    margin: 0 0 6px;
    font-size: 25px;
}

.image {
    padding-left: 50px;
}

.larticle-card {
    border: 1px solid var(--border);
    padding: 8px;
}

.larticle-card h3 {
    margin: 0 0 0;
    font-size: 20px;
}

.larticle-card p {
    margin: 0 0 0;

}


/* ARTICLES */

.articles {
    margin: 0;

}

/* FOOTER */
.site-footer {
    color: var(--muted);
    font-size: 13px;
}