---
import Base from "../layouts/Base.astro";
import SiteHeader from "../components/SiteHeader.astro";
import { getEntry } from "astro:content";
import Image from "astro/components/Image.astro";
import entradas from "../assets/oa2nrvrtqbnb1.jpg"


const featuredSlugs = [
  "test",
];

// Cargamos solo las que existan y ordenamos por fecha desc
const featured = (
  await Promise.all(
    featuredSlugs.map(async (slug) => {
      try { return await getEntry("blog", slug); }
      catch { return null; }
    }),
  )
).filter(Boolean).sort((a, b) => +b!.data.date - +a!.data.date);
---

<Base title="Blog" description="Últimas entradas y temas del blog">
  <SiteHeader />
  <main class="">
    <section class="main-card">
      <h2>blog</h2>
      <p>
        acá se van a publicar entradas y tutoriales sobre varios temas.
        <br>
        los posts están organizados por tags y el menú de abajo funciona
        una especie de indice para ir checkeando los posts por temas especificos.
        <br>
        no sé si es la forma más optima de organizar estas cosas, pero fue lo que se me ocurrió, 
        ante cualquier sugerencia por favor referirse a la página de <a href="/contacto">contacto</a> XD un saludo!
        </p>
        
    </section>
    <section class="main-card">
      <ul class="topic-links">
        <li><a href="/blog/linux-gaming/">jueguitos-en-linux</a></li>
      </ul>
    </section>
  </main>
  <footer class="site-footer">
    <hr />
    <p>gracias por visitar - fumi ❤️</p>
  </footer>
</Base>
