---
import Image from "astro/components/Image.astro";
import Base from "../layouts/Base.astro";
import SiteHeader from "../components/SiteHeader.astro";
import gifWelcome from "../assets/1755551791786744.gif"
---
<Base>
  <SiteHeader />

  <main class="site-main">
    <section class="main-card">
      <h2>hola, bienveni@!</h2>
      
                <p>
                    Vengo usando linux en mi computadora portatil desde hace ya
                    1 año, sin embargo, siempre la usé para tareas simples como
                    ver videos, tomar apuntes, leer documentos, etc.
                </p>
                
                <p>Recientemente (14/10/2025), windows 10 dejó de recibir
                    soporte oficial de microsoft y como mi pc principal está
                    VIEJA, DECRÉPITA y no tengo un mangojojojo, no se banca
                    windows 11.
                    Decidí entonces cambiarme a la misma distro de linux que
                    tengo en mi
                    laptep B).
                </p>
                <p>
                    El tema es que en mi PC principal, además de las
                    otras cosas que ya hacia, también juego a los jueguitos,
                    hablo con amigos, escucho música, edito videos, bla, bla,
                    bla.
                </p>
                <p>
                    Nunca me habia importado poder hacer esas cosas en la otra
                    compu así que no tenia mucha idea de como arrancar a
                    solucionar los diferentes errores que me saltaban, fue acá
                    que me di cuenta de las miles de cosasa que todavia me
                    faltan aprender.
                </p>
                <p>
                    Entonces decidí hacer esto! para ir guardando las cosas que
                    voy viendo y no solo tenerlas para poder consultarlas yo
                    cuando me olvido algun comando o algo, sino que también para
                    compartirlas con otras personas que capaz estan en la misma
                    o les llama la atención el tema :D <br>
                    así que nada, gracias por leer y espero que al menos algo
                    sirva de lo que escribo acá, un saludo!
                    <p class="highlight">PD: También estaria copado usar este espacio para compartir otros pensamientos y cosas tanto sobre compus/tecnologia
                    como otras cosas que me gustan, pero eso ya se verá en el futuro c:</p>
                </p>

                <Image src={gifWelcome}
                alt="" class={'main-image'}
                />
    </section>
  </main>

  <footer class="site-footer">
    <hr />
    <p>gracias por visitar - fumi ❤️</p>
  </footer>
</Base>
