---
import { SITE_TITLE, SITE_SUBTITLE } from "../consts.ts";
import Nav from "./Navbar.astro";
---
<header class="site-header">
  <div class="title-line">
    <strong class="site-title"><a href="/">{SITE_TITLE}</a></strong>
    <span class="site-sub">{SITE_SUBTITLE}</span>
  </div>
  <Nav />
  <hr>
</header>
